/* modal for finance */
.modal-finance {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
  }
  .modal-content-finance {
    position: relative; 
    /* background-color: white; */
    color:black;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    height: 75%; 
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  


  /* Gallery */

  .modal-gallery {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0,0.9);
    z-index: 9999; /* Sit on top - higher than any other z-index*/
  }
  .modal-content-gallery {
    position: relative; 
    background-color: black;
    color: black;
    padding: 20px; 
    margin: auto; 
    width: 100%;  
    height: 75%; 
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Close button for finance */

  .close-btn-finance {
    float: right; 
    margin-right: 10px;
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn-finance:hover {
    color: darkgray;
  }
  
  /* Close button for gallery */

  .close-btn-gallery {
    float: right; 
    margin-left: 5px;
    margin-top: -15px;
    color: white; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn-gallery:hover {
    color: darkgray;
  }
 
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .btn {
    background: #fe6625;
    background-image: linear-gradient(top, #fb9334, #fe6625);
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    /* margin-bottom: -5px; */
    bottom:6%;
    left: 37%; 
  }
  
  .btn:hover {
    background: #a5a09f;
    background-image: linear-gradient(to bottom, #fe6625, #fb9334);
    text-decoration: none;
  }

#bts{
    background-color: #167070;
}

#store{
    background-color: #fe6625;
}


#finance{
    background-color: #167070;
}


#about{
    background-color:#fe6625;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #fe6625;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}

@media screen and (max-width: 800px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

.vertical-text {
    background: black;
    color: white;
    font-size: 38px;
    padding-left:1em;
    display: inline-block;
    vertical-align: middle;
}

.IS-img{
  max-height: 460px;
}

